<div class="container">
    <app-image></app-image>  
    <app-image></app-image>  
    <app-image></app-image>

    <ng-container *ngFor = "let num of number; let i = index;">
        <app-new></app-new>
    </ng-container>

    <br>
    <button class="btn btn-primary" (click)="image_layer()" >ADD Image Layer</button>

</div>

<br>
<br>






<!-- <h3 style="color: white;">Angular 7 Image Preview before Upload:</h3>
<span style="color:white;" *ngIf="message">{{message}}</span>
<input #file type="file" accept='image/*' (change)="preview(file.files)" />
<img [src]="imgURL" height="200" *ngIf="imgURL">
<br>
<br> -->