<div class="row" style="margin-top: 5%;" >

  <ng-container *ngFor = "let image of images; let i = index;">
    <div class="col-sm">
      <div class="card card_width" >
          <!-- Card image -->
          <div *ngIf="i != show" class="view overlay">
            <img style="width: 271px; height: 297px;" class="card-img-top" src="{{image.url}}" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>

          <div *ngIf="unset == true && show == i">
            <input #titles type="text" placeholder="please add the title" />
            <input #file type="file" accept='image/*' (change)="preview(file.files, titles.value, i)" />
            <button class="btn btn-primary" (click)="done(i,  titles.value)" >Done</button>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">{{ image.title }}</h4>
            <!-- Text -->
            <button style="margin-right: 45px;" class="btn btn-primary" (click)="change(i)">Image</button>
            <button class="btn btn-primary" (click)="delimage(i)" >Delete</button>
          </div>  

        </div>
    </div>
  </ng-container>

</div>