<h1>Kundan Pathway Hub Task</h1>
<div class="wpcf7" id="wpcf7-f156-p143-o1 formwrap">
    <form action="/?page_id=143#wpcf7-f156-p143-o1" method="post" class="wpcf7-form" novalidate="novalidate">
        
       
          <span class="wpcf7-form-control-wrap Name">
             <input #first_name type="text" name="Name" value="" size="40" class="nameinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name" (change)="check_first( first_name.value, 'First' )">
          </span>

          <span class="wpcf7-form-control-wrap Name">
             <input #second_name type="text" name="Name" value="" size="40" class="nameinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name" (change)="check_first( second_name.value, 'Last' )">
          </span>  

          <span class="wpcf7-form-control-wrap Name">
             <input #age type="number" name="Age" value="" size="40" class="nameinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Age">
          </span>          

          <span class="wpcf7-form-control-wrap Email">
            <input #birth type="date" name="DOB" class="emailinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="DOB">
          </span>

         
            <input #email type="email" name="Email"  size="40" class="emailinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" (change)="chechEmail( email.value )">
         
          
          
          <!-- <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn"> -->
          <button style="width: 200px;" class="btn btn-primary" (click)="dataGet( first_name.value, second_name.value, age.value, birth.value, email.value )" [disabled]="!correct">Send</button>>

     
  </form>
</div>